// Gray
$gray-100: #F7F7F7;
$gray-200: #F1F1F1;
$gray-300: #E7E7E7;
$gray-350: #CBCBCB;
$gray-400: #A5A7A8;
$gray-450: #8E8E8E;
$gray-700: #4F4F4F;
$gray-900: #0D0D0D;

// Colors - Primary
$purple-100: #EFE7F8;
$purple-200: #E5D7F6;
$purple-400: #7B37D1;
$purple-600: #3A216F;

// Colors - Green
$green-50: #DCF6DA;
$green-100: #DCF5DA;
$green-400: #2EC623;

// Colors - Red
$red-50: #FFE8E4;
$red-100: #ffd2cc;
$red-400: #ff4128;
$red-500: #f5312b;

// Colors - Blue
$blue-50: #D4E8FF;
$blue-100: #d4e8ff;
$blue-400: #6C87FC;
$blue-800: #13205C;

$font-family: "Inter", "Lato", "Helvetica Neue", Arial, Helvetica, sans-serif;

// Border radius
$radius-2xs: 5px;
$radius-xs: 8px;
$radius-sm: 11px;
$radius-md: 16px;
$radius-lg: 21px;

// Font Sizes
$text-3xs: 12px;
$text-2xs: 13px;
$text-xs: 14px;
$text-sm: 15px;
$text-md: 16px;
$text-2md: 18px;
$text-lg: 25px;
$text-xl: 30px;

// Transitions
$transition-default: 0.3s ease;

// Breakpoints
$tablet: 720px;
$desktop: 930px;
